* {
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.92);
    color: #cdd6f4;
    border-bottom: 1px solid #313244;
}

/* Padding modułów */
#custom-prompt,
#workspaces,
#window,
#clock,
#custom-media,
#cpu,
#memory,
#temperature,
#disk,
#network,
#pulseaudio,
#idle_inhibitor,
#tray {
    padding: 0 9px;
}

/* Prompt CLI */
#custom-prompt {
    color: #89b4fa;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

/* Pulpity */
#workspaces {
    border-left: 1px solid #313244;
}

#workspaces button {
    background: transparent;
    color: #6c7086;
    padding: 0 4px;
    margin: 0;
}

#workspaces button:hover {
    color: #cdd6f4;
    background: #313244;
}

#workspaces button.active {
    color: #a6e3a1;
    background: #18241b;
    font-weight: bold;
}

#workspaces button.urgent {
    color: #f38ba8;
    background: #311b22;
}

/* Tytuł okna */
#window {
    color: #a6adc8;
    padding-left: 12px;
}

#window.empty {
    padding: 0;
}

/* Zegar */
#clock {
    color: #89b4fa;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
    border-left: 1px solid #313244;
    border-right: 1px solid #313244;
}

/* Odtwarzacz */
#custom-media {
    color: #f5c2e7;
    border-left: 1px solid #313244;
}

/* Wskaźniki zasobów */
#cpu {
    color: #f9e2af;
    border-left: 1px solid #313244;
}

#memory {
    color: #cba6f7;
    border-left: 1px solid #313244;
}

#temperature {
    color: #fab387;
    border-left: 1px solid #313244;
}

#temperature.critical {
    color: #f38ba8;
    background: #311b22;
}

#disk {
    color: #89dceb;
    border-left: 1px solid #313244;
}

#network {
    color: #94e2d5;
    border-left: 1px solid #313244;
}

#pulseaudio {
    color: #fab387;
    border-left: 1px solid #313244;
}

#pulseaudio.muted {
    color: #6c7086;
}

#idle_inhibitor {
    color: #a6e3a1;
    border-left: 1px solid #313244;
}

#idle_inhibitor.activated {
    color: #f9e2af;
}

#tray {
    border-left: 1px solid #313244;
    padding-right: 10px;
}

/* Efekt Hover dla modułów */
#custom-prompt:hover,
#custom-media:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#disk:hover,
#network:hover,
#pulseaudio:hover,
#idle_inhibitor:hover {
    background: #313244;
}